*{
    padding: 0;
    margin: 0;
}         
    @keyframes animation-move
        {
                0% {
                    background-image: url("imgs/er.jpg");
                    background-color:#cccccc;

                }

                25% {
                    background-image: url("imgs/san.jpg");
                    background-color:#cccccc;
                }

                50% {
                    background-image:  url("imgs/si.jpg");
                    background-color:#cccccc;
                }

                75% {
                    background-image: url("imgs/yi.jpg");
                    background-color:#cccccc;
                }

                100% {
                    background-image:url("imgs/er.jpg");
                    background-color:#cccccc;
                }
        }