@import url(lly1.html);
header{
    width:100vw;
    height:100vh;
    background-image: url(imgs\tiankong.jpg);
} 
header-content{
    margin: bottom 150px;
    color: whitesmoke;
    text-align:center;
}
header-content h1{
    font-size:40px;
}
header-content h2{
    font-size:70px;
}
.a{
    width:100px;
    height:5px;
    background:red;
    margin:10px auto;
    border-radius: 5px;
}
h1:first-letter{

   font-size:50px
}
h2:first-letter{
    font-size: 35px;
}
h3::first-letter{
    font-size: 20px;
}
